*, *::after, *::before {
  box-sizing: inherit;
}

.cordova-plugin-sketch-layout-withOrientation {
  flex-direction: column;
}
.cordova-plugin-sketch-layout-oppositeOrientation {
  flex-direction: row;
}
@media (orientation: landscape) {
  .cordova-plugin-sketch-layout-withOrientation {
    flex-direction: row;
  }
  .cordova-plugin-sketch-layout-oppositeOrientation {
    flex-direction: column;
  }
}

.cordova-plugin-sketch-nativePopUp {
  background: #000;
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.cordova-plugin-sketch-nativePopUp-open {
  display: flex;
}

@media (orientation: landscape) {}

.cordova-plugin-sketch-nativePopUp__button,
.cordova-plugin-sketch-nativePopUp__content {
  margin: 0px;
}

.cordova-plugin-sketch-nativePopUp__content {
  background: #000;
  flex-grow: 1;
  flex-shrink: 1;
}

.cordova-plugin-sketch-nativePopUp__buttons {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
}

.cordova-plugin-sketch-nativePopUp__button {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 44px;
  min-width: 44px;
}

button[data-action=cancel] {
}
button[data-action=done] {
}
