

*
{
    overflow: hidden;
    -ms-content-zooming: none;
}

body
{
    touch-action: none;
}

#canvasGroup
{
    display: block;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 0;
}

div.rectangle
{
    display: block;
    position: absolute;
    transform-origin: 0% 0%;
    touch-action: none;
}

canvas.surface
{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

#HighlightCanvas
{
    background-color: White;
    z-index: 1;
}

#InkCanvas
{
    background-color: White;
    z-index: 2;
}

#SelectCanvas
{
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 3;
}

#SelectionBox
{
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 4;
}

#statusMessage
{
    position: relative;
    left: 125px;
    top: 70px;
    z-index: 10;
    color: black;
    font-size: 16pt;
    height: 32px;
    padding: 0px;
    border: 0px;
}

#RecoFlyout
{
    color: black;
}

#Word
{
    position: absolute;
    z-index: 20;
    visibility: hidden;
}

#Black {color: Black;}
#Blue  {color: Blue; }
#Red   {color: Red;  }
#Green {color: Green;}
#Yellow {color: Yellow;}

#Aqua   {background-color: Aqua;  }
#Lime   {background-color: Lime;  }
